
<section class="card-header">
  <div class="card-title">
    {{label}}
  </div>
  <nav class="nav-buttons">
    <button mat-icon-button
      (click)="createChild()" 
      color="primary">
      <mat-icon class="mat-24" 
        aria-label="Add something">
          favorite
      </mat-icon>
    </button>
    <button mat-icon-button
      (click)="saveAllItems()" 
      color="accent">
      <mat-icon class="mat-24" 
        aria-label="Add something">
        favorite
      </mat-icon>
    </button>
    <button mat-icon-button
      (click)="deleteMe()" 
      color="warn">
      <mat-icon class="mat-24" 
        aria-label="Add something">
        favorite
      </mat-icon>
    </button>  
  </nav>
</section>

<section class="card-body">
  

</section>

