
<section class="card-header">
  <div class="card-title">
    {{label}}
  </div>
  <nav class="nav-buttons">
    <!--
    <button mat-icon-button
      (click)="createGroup()"
      color="primary">
      <mat-icon class="mat-24"
        aria-label="Add something">
          reorder
      </mat-icon>
    </button>
    -->
    <button mat-icon-button
      (click)="createItem()"
      color="primary">
      <mat-icon class="mat-24"
        aria-label="Add something">
        note_add
      </mat-icon>
    </button>
    <button mat-icon-button
      (click)="deleteMe()"
      color="warn">
      <mat-icon class="mat-24"
        aria-label="Add something">
        delete
      </mat-icon>
    </button>
  </nav>
</section>

<section class="card-body">
  <ng-container *ngFor="let item of items">

    <!-- filter item -->
    <app-three-level-fld *ngIf="item.type=='field'"
        [props]="item">
    </app-three-level-fld>

    <app-three-level-lst *ngIf="item.type=='list'"
        [props]="item">
    </app-three-level-lst>

  </ng-container>

</section>

