<!-- Field item -->
<section class="field-item">

  <div class="item-data">

    <form #filter>
      <!-- Field 1 -->
      <mat-form-field>
        <mat-select
          #fieldName
          placeholder="Field">
          <mat-option *ngFor="let item of fields"
            [value]="item.value">
            {{ item.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          #operator
          placeholder="Operator">
          <mat-option *ngFor="let item of operators"
            [value]="item.value">
            {{ item.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
          <input matInput
            #fieldVal
            placeholder="Value"
            value="">
      </mat-form-field>
    </form>

  </div>

  <nav class="nav-buttons">
    <button mat-icon-button
      (click)="deleteMe()">
      <mat-icon class="mat-24"
        aria-label="Add something">
        cancel
      </mat-icon>
    </button>
  </nav>
</section>

