
<section class="card-header">
  <div class="card-title">
    {{label}}
  </div>
  <nav class="nav-buttons">
    <button mat-raised-button
      (click)="createChild('field')"
      color="primary">Type field</button>

    <button mat-raised-button
      (click)="createChild('list')"
      color="primary">Type list</button>

    <button mat-raised-button
      (click)="deleteAllItems()"
      color="warn">Delete All</button>
  </nav>
</section>

<section class="card-body">
  <!--Pass data to child -->
  <app-three-level-1 *ngFor="let item of items"
    [props]="item">
  </app-three-level-1>
</section>


