
//import material mixins
@import '../../../material/theming';

:host{
  display:flex;
  flex-direction: column;
  min-height:50px;
  padding:9px;
  margin-bottom: 9px;
  background-color: mat-color($mat-grey,300);
  color: mat-contrast($mat-grey,300);
  border:1px solid mat-color($mat-grey,400);
}


.field-item{
  display:flex;
  align-items: baseline;
  .item-data{
    flex:1;
  }
}
