//import material mixins
@import '../material/theming';

:host{
  font-family: $mat-font-family;
}


.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-row-test{
  color: mat-color($mat-blue,500);
  font-family: 'Lato', sans-serif;
}